<% content_for :title do %>
  Minhas Fichas de Campo
<% end %>

<section class="content-header">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Minhas fichas de campo</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="col-sm-12">
              <%= link_to new_field_form_path, class: 'btn bg-gradient-primary btn-sm  float-sm-right' do %>
                <i class="nav-icon fas fa-plus"></i>
                Adicionar nova ficha
              <% end %>
            </div>
          </div>
          
          <div class="card-body table-responsive p-0">
            <table class="table table-striped text-nowrap">
              <thead>
                <tr>
                  <th></th>
                  <th>Status</th>
                  <th>Endereço</th>
                  <th>Data</th>
                </tr>
              </thead>

              <tbody>
                <% @field_forms.each do |field_form| %>
                  <tr>
                    <td>
                      <%= link_to field_form_path(field_form), class: 'btn btn-block bg-gradient-info btn-sm' do %>
                        <i class="nav-icon far fa-folder-open"></i>
                      <% end %>
                    </td>
                    <td><%= field_form_filled_list_status_component(field_form) %></td>
                    <td><%= field_form_list_address(field_form) %></td>
                    <td><%= field_form.created_at.strftime('%d/%m/%Y') %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

          </div>

          <br />

          <div class="card-footer clearfix">
            <%= paginate @field_forms %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
