<% content_for :title do %>
  Minhas Fichas de Campo
<% end %>

<section class="content-header">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Minhas fichas de campo</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="col-sm-12">
              <%= link_to new_field_form_path, class: 'btn bg-gradient-primary btn-sm  float-sm-right' do %>
                <i class="nav-icon fas fa-plus"></i>
                Adicionar nova ficha
              <% end %>
            </div>
          </div>
          
          <div class="card-body table-responsive p-0">
            <table class="table table-striped text-nowrap">
              <thead>
                <tr>
                  <th></th>
                  <th>Status</th>
                  <th>Endereço</th>
                  <th>Data</th>
                </tr>
              </thead>

              <tbody id="field-form-body-grid">
                <% if @field_forms.empty?  %>
                  <tr id="empty-grid">
                    <td colspan="4" style="text-align: center;">
                      Sem registros para exibição. 😅
                    </td>
                  </tr>
                <% else  %>
                  <% @field_forms.each do |field_form| %>
                    <tr>
                      <td>
                        <%= link_to field_form_path(field_form), class: 'btn btn-block bg-gradient-info btn-sm' do %>
                          <i class="nav-icon far fa-folder-open"></i>
                        <% end %>
                      </td>
                      <td><%= field_form_filled_list_status_component(field_form) %></td>
                      <td><%= field_form_list_address(field_form) %></td>
                      <td><%= field_form.created_at.strftime('%d/%m/%Y') %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>

          </div>

          <br />

          <div class="card-footer clearfix">
            <%= paginate @field_forms %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :current_page_js do %>
  <script>
    $(function(){
        const dbName = 'olhaedes_db';
        const documentName = 'field_forms';
        const version = '<%= ENV['HEROKU_RELEASE_VERSION'] %>';

        let currentDB;
        let indexedDBOpenRequest = indexedDB.open(dbName, Number(version.match(/\d+/)[0]));

        indexedDBOpenRequest.onerror = function(error) {
            console.warn('[Service Worker] IndexedDB error: ', error);
        }

        indexedDBOpenRequest.onupgradeneeded = function() {
            if (this.result.objectStoreNames.contains(documentName)) {
                this.result.deleteObjectStore(documentName);
            }

            this.result.createObjectStore(documentName, { autoIncrement:  true, keyPath: 'id' });
        }

        indexedDBOpenRequest.onsuccess = function() {
            currentDB = this.result;

            let objectStored = currentDB.transaction(documentName, 'readwrite').objectStore(documentName);
            let savedForms = objectStored.getAll();

            savedForms.onsuccess = function() {
                if (!!savedForms && savedForms.result.length > 0) {
                    $('#empty-grid').remove();

                    for (let savedForm in savedForms.result) {
                        if (typeof savedForm === 'string') { savedForm = savedForms.result[savedForm]; }

                        $('#field-form-body-grid').append(`
                          <tr style="background-color: #f4fab9;">
                            <td colspan="2">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-diamond" viewBox="0 0 16 16" style="color: red;">
                                <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"></path>
                                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"></path>
                              </svg> Sincronização Pendente
                            </td>
                            <td>${savedForm['payload']['field_form[street]']}, ${savedForm['payload']['field_form[number]']} - ${savedForm['payload']['field_form[block]']}, ${savedForm['payload']['field_form[district]']}, ${savedForm['payload']['field_form[city]']}, ${savedForm['payload']['field_form[state]']} - ${savedForm['payload']['field_form[zipcode]']}</td>
                            <td>---</td>
                          </tr>
                        `);
                    }
                }
            }
        }
    });
  </script>
<% end %>
