<section class="content-header">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Detalhes da FAQ</h1>
        </div>

        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><%= link_to 'Home', admin_root_path %></li>
            <li class="breadcrumb-item active">Detalhes da FAQ</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-primary">
          <div class="card-header">
            <div class="col-sm-12">
              <p id="notice"><%= notice %></p>
            </div>
          </div>

          <%= render @faq %>

          <div class="card-footer">
            <%= link_to "#{translate 'actions.back'}", admin_faqs_path, class: 'btn btn-secondary' %>
            <%= link_to("#{translate 'actions.edit'}", edit_admin_faq_path(@faq), class: 'btn btn-primary') if can? :edit, @faq %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
