<% content_for :title do %>
  Detalhes do <%= @user.name %>
<% end %>

<section class="content-header">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Detalhes do usuário</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-primary">
          <div class="card-header">
            <div class="col-sm-12"></div>
          </div>

          <%= render @user %>

          <div class="card-footer">
            <%= link_to "#{translate 'actions.back'}", :back, class: 'btn btn-secondary' %>
            <%= link_to "#{translate 'actions.update_password'}", edit_password_users_path, class: 'btn btn-warning' if current_user.id == @user.id %>
            <%= link_to "#{translate 'actions.edit'}", edit_user_path(@user), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
