<% content_for :title do %>
  Atualização de senha do <%= @user.name %>
<% end %>

<section class="content-header">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Atualização de senha</h1>
        </div>
        
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><%= link_to 'Home', admin_root_path %></li>
            <li class="breadcrumb-item active">Atualização de senha</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-primary">
          <div class="card-header">
            <div class="col-sm-12"></div>
          </div>

          <div class="card-body p-0">
            <%= form_for([:admin, @user], url: update_password_admin_users_path, method: :patch) do |form| %>
              <% if @user.errors.any? %>
                <div class="alert alert-info alert-dismissible" style="margin: 15px 15px 0 15px;">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <h5><i class="icon fas fa-info"></i> <%= pluralize(@user.errors.count, 'erro impede', plural: 'erros impedem') %> que este usuário seja salvo:</h5>

                  <ul>
                    <% @user.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="card-body">
                <div class="form-group">
                  <%= form.label :current_password %>
                  <%= form.password_field :current_password, class: 'form-control', placeholder: 'Senha atual' %>
                </div>

                <div class="form-group">
                  <%= form.label :password %>
                  <%= form.password_field :password, class: 'form-control', placeholder: 'Nova senha' %>
                </div>

                <div class="form-group">
                  <%= form.label :password_confirmation %>
                  <%= form.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirmar nova senha' %>
                </div>
              </div>

              <div class="card-footer">
                <%= link_to "#{translate 'actions.back'}", admin_users_path, class: 'btn btn-secondary' %>
                <%= form.submit class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
